*{
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    line-height: 48px;
}

.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
  }

.h1{
    font-size: 15px;
    text-align: center;
    padding-bottom: 30px;
}
  
.title-header {
    font-family: "Press Start 2P", system-ui;
    font-size: 25px;
}

.description{
    font-size: 24px;
}

.main-container{
    
    display: flex;
    flex-direction: column-reverse; 
    width:85%;
    margin: 30px auto 30px;
}

.encabezado{
    display: flex;
    justify-content: center;
    align-items:center;
    
}

.encabezado, .pie-de-pagina{
    font-family: "Press Start 2P", system-ui;
    background-color: #5D04D9;
    color: aliceblue;
    text-align: center;
    padding: 1.5em 0;
}

.delete-button{
    background-color: #5D04D9;
    height: 35px;
    background-color: transparent;
    border: none;
    outline:none;
}

.img-container{
    width: 176px;
    height: 174px;
}
.products-container{
    display:flex;
    flex-wrap: wrap;
   
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    border: 3px solid black;
    border-radius: 5px;
    background-color: #5D04D9;
    width: 195px;
    gap: 10px;
    overflow-y: auto;
    position: relative;
    height: 280px;
    align-self: flex-start;
    margin-right: 15px;
    margin-bottom: 30px;
}

.card-container--value{
    display: flex;
    justify-content: center;
    height: 35px;
    margin:0;
}
.informacion_producto{
    color: aliceblue;
    font-size: 10px;
    height: 30px;
}

.logo-footer{
    display: flex;
    align-items:center;
    justify-content: center;  
}

.title-footer{
    font-size: 20px;  
}

.copyright{
    font-size: 10px; 
    padding-bottom: 1em;
}

.input-producto {
    display: block;
    border: 2px solid #03318C;
    border-radius: 30px;
    width: 96%;
    padding: .5em;
    margin-bottom: 1.5em;
}

.botones{
    display: flex;
    width: 100%;
    margin: 0px auto ;
    justify-content: center;
        
}
    
.boton-enviar{
    background-color:  #03318C;
    border: 1px solid #03318C;
    border-radius: 24px;
    color:aliceblue;
    cursor: pointer;
    height: 67px;
    margin-bottom: 20px;
    width: 45%;
    margin-right: 10%;
}
    
.boton-limpiar{
    background-color: white;
    display: block;
    border: 2px solid #03318C;
    border-radius: 18px;
    color:#0A3871;
    cursor: pointer;
    height: 67px;
    width: 45%;
    
}
::placeholder{
    color: #03318C;
}

.input-producto:focus{
    outline: none;
}

@media(min-width: 834px) {
    .main-container{
    
        display: flex;
        flex-direction: row;
        width:100%;
        margin: 40px auto ;
        justify-content: center;
    }

    .productos{
        width: 60%;
    }

    .formulario{
        width:30%;
    }       
}
    